
.test {
	float: left;
	text-transform: uppercase;
}
.whole {
	 	padding: 20px 50px;
	 	width:1000px;
	 	min-height: 29.7cm;
	 	margin: 1cm auto;

}

#my-name {
	letter-spacing: 3px;
	margin-bottom: 0px;
	color: red;
	font-size: 48px;
}

#state{
	margin-top: 2px;
	font-style: italic;
	font-size: 152%;
}

.header {
	padding: 5px 0 8px;
	border-bottom: 1px solid;
	overflow: auto;

	
}
.contact-right {
	position: relative;
	float:right;
	line-height: 10px;
	margin: auto;
	margin-top: 5px;
}